@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1 {
  font-family: 'Open Sans',sans-serif;
  font-weight: 300;
}

.row {
  max-width: 900px;
  margin: 50px auto 0;
}

.cards {
  float: left;
  padding: 0 1.7rem;
  width: 50%;
  .wrapper {
    border-radius: 15px;
    background-color: #fff;
    min-height: 540px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 19px 38px rgba(#000, 0.3), 0 15px 12px rgba(#000, 0.2);
    &:hover {
      .data {
        transform: translateY(0);
      }
    }
  }
  .data {
    position: absolute;
    bottom: 0;
    width: 100%;
    transform: translateY(calc(70px + 1em));
    transition: transform 0.3s;
    .content {
      padding: 1em;
      position: relative;
      z-index: 1;
    }
  }
  .title {
    margin-top: 10px;
  }
  .text {
    height: 70px;
    margin: 0;
  }
}

.presentation {
  width: 400px;
  margin: auto;
  .wrapper1 {
    background: url(https://welovedevs.com/wp-content/uploads/2020/05/blog2.jpg) center / cover no-repeat;
  }
  .wrapper2 {
    background: url(https://welovedevs.com/wp-content/uploads/2020/05/W3Dtv.png) center / cover no-repeat;
  }
  .wrapper3 {
    background: url(https://welovedevs.com/wp-content/uploads/2020/05/tests.png) center / cover no-repeat;
  }

  .data {
    color: #fff;
    transform: translateY(calc(70px + 4em));
  }
  .title {
    text-align: left;
    a {
      color: #fff;
    }
  }
  .button {
    display: block;
    width: 100px;
    margin: 2em auto 1em;
    text-align: center;
    font-size: 12px;
    color: #fff;
    line-height: 1;
    position: relative;
    font-weight: 700;
    &::after {
      content: '\2192';
      opacity: 0;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0, -50%);
      transition: all 0.3s;
    }
    &:hover {
      &::after {
        transform: translate(5px, -50%);
        opacity: 1;
      }
    }
  }
}