@import url("https://fonts.googleapis.com/css?family=Nunito");
* {
  font-family: 'Nunito', sans-serif;
}

body {
  padding-top: 20px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.slick-slider {
  margin: 30px auto 50px;
  width: auto;
}

/*
h3 {
    background: #00558B;
    color: #fff;
    line-height: 100px;
    text-align: center;
    font-size: 36px;
    margin: 10px;
    padding: 2%;
    position: relative;
} */
.card {
  padding: 30px;
  position: relative;
  margin: 30px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.25);
  background-color: #220CAD ;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}
.card:hover {
  cursor: pointer;
  transform: translateY(0px);
}
.card h4 {
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 900;
}
.card p {
  line-height: 1.5;
  color: white;
}

.slick-prev {
  background: black;
}

.slick-next {
  background: black;
}


.slick-dots{
  margin: 0 16px;
}

.slick-dots li {
  margin: 0 16px;
}

.slick-dots li button:before {
  content: " ";
  background: #220CAD;
  opacity: 1;
  height: 4px;
  width: 40px;
}

.slick-dots li.slick-active button:before {
  content: " ";
  background: #220CAD;
  opacity: 1;
  height: 4px;
  width: 40px;
}


.avatar {
  position: relative;
  margin: 30px;
  display: flex;
  justify-content: center;
}