@import url("https://fonts.googleapis.com/css?family=Nunito");
* {
  font-family: 'Nunito', sans-serif;
  &:focus{
    outline: 0;
    outline: none;
  }
}

body {
  padding-top: 20px;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

.slick-slider {
  margin: 30px auto 50px;
  width: auto;
}

/*
h3 {
    background: #00558B;
    color: #fff;
    line-height: 100px;
    text-align: center;
    font-size: 36px;
    margin: 10px;
    padding: 2%;
    position: relative;
} */
.card {
  padding: 40px;
  position: relative;
  min-height: 150px;
  margin: 60px;
  box-shadow: 21px 24px 48px -13px rgba(0,0,0,0.75);
  border-radius: 15px;
  border-bottom: 10px solid transparent;
  background-color: #220CAD ;
  transition: all 0.3s ease-in-out;
  z-index: 1;
  &:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: #220cad;
    border-bottom: 0;
    margin-left: -20px;
    margin-bottom: -30px;
  }
  &:hover{
    cursor: pointer;
    background-color: #3112fa;
    transform: translateY(0px);
  }

  p {
    line-height: 1.5;
    color: white;
  }
}

.slick-prev {
  background: black;
}

.slick-next {
  background: black;
}

.slick-dots{
  margin: 0 16px;
}

.slick-dots li {
  margin: 0 16px;
}


.avatar {
  position: relative;
  margin: 30px;
  display: flex;
  justify-content: center;
}

.avatarName {
  text-align: center;
  span {
    color:grey;
  }
}

.title {
  text-align: center;
  font-size: 22px;

}

